<div class="container-fluid d-flex p-0">
    <div class="col d-flex flex-column align-items-center justify-content-center box-img" style="height: 100vh;">
        <div class="box-invite p-4 text-white">
            <h1 class="mb-4 fw-bold">Hora de conhecer <br> novos lugares...</h1>
            <p class="fs-5">Entre na sua conta e tenha acesso a milhares <br> de informações para suas <span class="fw-bold">viagens.</span></p>
        </div>
    </div>

    <div class="col d-flex flex-column align-items-center justify-content-center second">
        <form [formGroup]="user" (ngSubmit)="submit()" class="w-50 p-4 d-flex flex-column gap-4 rounded shadow box-form" [@init]="'show'">
            <span class="circle"></span><h2 class="mb-2 fw-bold">Login</h2>
            <div>
                <input 
                    type="email" class="form-control" 
                    placeholder="E-mail" formControlName="email"
                    [class.is-invalid]="user.get('email')?.dirty && user.get('email')?.invalid || (errorMessage())"
                >

                @if(user.get('email')?.errors && user.get('email')?.dirty ){
                    <span class="text-danger">O campo e-mail é obrigatório!</span>
                }

                @if(errorMessage()) {
                    <span class="text-danger">{{ errorMessage() }}</span>
                }

            </div>
            <div>
                <input 
                    type="email" class="form-control" 
                    placeholder="Senha" formControlName="password"
                    [class.is-invalid]="user.get('password')?.dirty && user.get('password')?.invalid"
                >

                @if(user.get('password')?.errors && user.get('password')?.dirty){
                    <span class="text-danger">O campo senha é obrigatório!</span>
                }

            </div>
            <div>
                <button 
                    type="submit" class="w-100 btnPrimary" 
                    [disabled]="user.invalid" [class.disabled]="user.invalid"
                >
            
                    @if(spinnerVisible()) {
                        <span class="spinner-border spinner-border-sm color-white" aria-hidden="true"></span>
                    } @else {
                        Entrar
                    }

                </button>
            </div>
            <a routerLink="/register" class="text-end">Não tem cadastro?</a>
        </form>
    </div>
</div>