:host{
    .post{
        .details{
            strong{
                color: #f26101dd;
            }

            a{
                color: #f26101dd;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }
            }
        }

        // .box-img::after{
        //     content: '';
        //     display: block;
        //     height: 100%;
        //     width: 100%;
        //     position: absolute;
        //     z-index: 999 !important;
        //     // background-color: tomato;
        //     // background-color: rgba(0,0,0,0.9);
        // } 
    }

    .button-without{
        height: min-content;
        width: min-content;
        padding: .8vmin;
        background-color: white;
        border-radius: 46px 50px;
    }
}