 <!-- CARDS -->
 <div class="card shadow-sm d-flex flex-row py-2 myCard mb-2" (click)="showDetails(idPost)">
    <div class="col-2 d-flex align-items-center justify-content-center box-img d-flex">
        <img 
            src="{{ url() }}/{{ imageName }}" 
            height="50px"
            width="50px"
            alt=""
            class="rounded-circle bg-primary"
            >
    </div>
    <div class="col d-flex flex-column justify-content-center p-2 box-details">
        <h5 class="text-capitalize text-nowrap">{{ title }}</h5>
            <p class="text-muted m-0 p-0 ">{{ author }}</p>
       
    </div>
    <div class="col d-flex flex-column justify-content-center align-items-end me-4 p-2 pb-0">
        <ul class="d-flex text-warning p-0 m-0" style="list-style-type: none;" [innerHTML]="countStars">
            <!-- <li><i class="bi bi-star-fill"></i></li>
            <li><i class="bi bi-star-fill"></i></li>
            <li><i class="bi bi-star-fill"></i></li>
            <li><i class="bi bi-star"></i></li>
            <li><i class="bi bi-star"></i></li> -->
        </ul>


        <ul class="d-flex p-0 m-0" style="list-style-type: none;">
            <li class="align-self-end">
                <i class="bi bi-chat-dots"></i>
                {{ comments }}
            </li>
        </ul>
    </div>
</div>

<!-- CLOSE CARDS -->
