:host{
    .myCard{
        cursor: pointer;

        &:hover{
            background-color: #e0e0e0;
        }

        .box-img{
            position: relative;

            img{
                object-fit: cover;
            }
        }

        .box-details{
            ul li{
                color: #304269;
            }
        }
    }
}