:host{
    .box-comments{
        .commentProfile{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        textarea{
            // width: 95%;
            // transform: translateX(-5%);
        }
    }
}