<div class="comments position-relative box-comments">
    <div class="row flex-column w-100 m-0 my-4">
        <div class="col d-flex gap-3">

            <div class="overflow-hidden position-relative commentProfile">
                <img 
                    src="{{ url() }}/{{ image }}" 
                    alt="some person"
                    class="img-fluid h-100 object-fit-cover"
                >
            </div>
            <h5 class="mt-1 mb-3 text-muted" style="transform: translateX(-4%); font-size: 1rem;">{{ name }}</h5>
        </div>
        <div class="col-11 offset-1 position-relative p-0">
            <textarea name="" id="" cols="30" rows="3" class="form-control p-2 text-muted w-100" readonly disabled style="font-size: 0.9rem;"> {{ description }} </textarea>
        </div>
    </div>

</div>      