<div class="comments">

    <h4 class="fw-bold mb-4">Comentários: </h4>

    <div class="row w-100 m-0 my-3">
        <div class="col-1">

            <div class="overflow-hidden position-relative commentProfile">
                <img 
                    src="/assets/img/comment-three.jpg" 
                    alt="some person"
                    class="img-fluid h-100 object-fit-cover"
                >
            </div>
            
        </div>
        <div class="col pe-0">
            <h5 class="mt-1 mb-3 text-muted" style="transform: translateX(-4%); font-size: 1rem;">Rosa Mendes Visconde</h5>
            <textarea name="" id="" cols="30" rows="3" class="form-control p-2 text-muted" readonly disabled style="font-size: 0.9rem;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, pariatur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat voluptatem eligendi facere maiores ex perspiciatis, neque est quasi? Assumenda, distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quia mollitia.</textarea>
        </div>
    </div>

    <div class="row w-100 m-0 my-3">
        <div class="col-1">

            <div class="overflow-hidden position-relative commentProfile">
                <img 
                    src="/assets/img/comment-three.jpg" 
                    alt="some person"
                    class="img-fluid h-100 object-fit-cover"
                >
            </div>
            
        </div>
        <div class="col pe-0">
            <h5 class="mt-1 mb-3 text-muted" style="transform: translateX(-4%); font-size: 1rem;">Rosa Mendes Visconde</h5>
            <textarea name="" id="" cols="30" rows="3" class="form-control p-2 text-muted" readonly disabled style="font-size: 0.9rem;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, pariatur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat voluptatem eligendi facere maiores ex perspiciatis, neque est quasi? Assumenda, distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quia mollitia.</textarea>
        </div>
    </div>

    <div class="row w-100 m-0 my-3">
        <div class="col-1">

            <div class="overflow-hidden position-relative commentProfile">
                <img 
                    src="/assets/img/comment-three.jpg" 
                    alt="some person"
                    class="img-fluid h-100 object-fit-cover"
                >
            </div>
            
        </div>
        <div class="col pe-0">
            <h5 class="mt-1 mb-3 text-muted" style="transform: translateX(-4%); font-size: 1rem;">Rosa Mendes Visconde</h5>
            <textarea name="" id="" cols="30" rows="3" class="form-control p-2 text-muted" readonly disabled style="font-size: 0.9rem;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, pariatur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat voluptatem eligendi facere maiores ex perspiciatis, neque est quasi? Assumenda, distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quia mollitia.</textarea>
        </div>
    </div>

    <div class="row w-100 m-0 my-3">
        <div class="col-1">

            <div class="overflow-hidden position-relative commentProfile">
                <img 
                    src="/assets/img/comment-three.jpg" 
                    alt="some person"
                    class="img-fluid h-100 object-fit-cover"
                >
            </div>
            
        </div>
        <div class="col pe-0">
            <h5 class="mt-1 mb-3 text-muted" style="transform: translateX(-4%); font-size: 1rem;">Rosa Mendes Visconde</h5>
            <textarea name="" id="" cols="30" rows="3" class="form-control p-2 text-muted" readonly disabled style="font-size: 0.9rem;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, pariatur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat voluptatem eligendi facere maiores ex perspiciatis, neque est quasi? Assumenda, distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quia mollitia.</textarea>
        </div>
    </div>

</div>      