:host{
    .box-comments{
        .commentProfile{
            width: 30px;
            height: 30px;
            border-radius: 50%;

            img{
                min-width: 100% !important;
            }
        }

        .box_description{
            min-height: 100px !important;
            overflow-y: auto;
            // height: 100%;
            // width: 95%;
            // transform: translateX(-5%);
        }
    }
}