:host{

    .all-content{
        opacity: 0;
        pointer-events: none;
        min-height: 60vh;
    }

    .boxCards{
        background-color: #f26101dd;
        // min-height: 70vh;
    }


    .icons_title{
        li{
            span{
              opacity: 0;
              pointer-events: none;
              transition: .4s;
              font-size: calc(1vmin + 5px);
            }  
  
            &:hover > span{
              opacity: 1;
            }
        }
    }
}