<div class="row mx-5 d-flex gap-5 all-content" [@visibility]="'visible'">
    <div class="col-4 shadow px-4 py-4 rounded-3 d-flex flex-column gap-3 boxCards">

<!-- 
        {{ people | json }} -->


        @for (person of people; track $index) {
            <!-- CARDS -->
            <div class="card shadow-sm d-flex flex-row py-1 myCard mb-2">
                <div class="col-2 d-flex align-items-center justify-content-center box-img d-flex">
                    <img 
                        src="{{ url() }}/{{ person.image }}" 
                        height="50px"
                        width="50px"
                        alt=""
                        class="rounded-circle bg-primary object-fit-cover"
                    >
                </div>
                <div class="col d-flex flex-column justify-content-center gap-1 p-2 flex-grow-1 box-details">
                    <h5 class="text-capitalize" style="font-size: calc(10px + 1vmin);">{{ person.name }}</h5>
                        <p class="text-muted m-0 p-0" style="font-size: 1.5vmin;">{{ person.created_at | localDate }}</p>
                
                </div>
                <div class="col d-flex flex-column justify-content-center align-items-end me-4 p-2 pb-0">
                    <ul class="d-flex p-0 mt-1 gap-3 icons_title" style="list-style-type: none;">
                        <li class="align-self-end position-relative">
                            <i class="bi bi-chat-dots-fill"></i>
                            {{ person.comments_done }}
                            <span class="position-absolute top-100 translate-middle-x ms-3 text-bg-dark p-2 d-flex text-nowrap rounded-3">Comentários</span>
                        </li>
                        <li class="align-self-end position-relative">
                            <i class="fa-solid fa-paper-plane"></i>
                            {{ person.posts_done }}
                            <span class="position-absolute top-100 translate-middle-x ms-3 text-bg-dark p-2 d-flex text-nowrap rounded-3">Postagens</span>
                        </li>
                        <li class="align-items-end position-relative">
                            <i class="fa-solid fa-location-dot"></i>
                            {{ person.places_visited }}
                            <span class="position-absolute top-100 translate-middle-x ms-3 text-bg-dark p-2 d-flex text-nowrap rounded-3">Lugares Visitados</span>
                        </li>
                    </ul>
                </div>
            </div>            
        } @empty {
            <p class="ms-5 text-white fs-5">Nenhum usuário encontrado...😢</p>
        }




        
    </div> <!-- Close First Column -->


    @if(people){
        <div class="col-4 rounded-3 shadow">
            <div class="row p-3">
                <h4 class="text-center">Veja as postagens mais recentes!</h4>
            </div>

            <app-box-post />
        </div>
    } @else {
        <div class="col-4 rounded-3">  
            <app-monkey />
        </div>
    }

</div>
