:host{
    .boxCards{
        background-color: #f26101dd;
        min-height: 70vh;
    }

    .post{
        .details{
            strong{
                color: #f26101dd;
            }
        }
    }
}