<main class="col w-100 p-4 w-100 rounded-3 shadow core position-relative">
    <div class="d-flex w-100 justify-content-between align-items-center">
        <h3 class="mb-4 fw-bold"> {{ title }} </h3>

        <div class="d-flex mb-3 position-absolute end-0 me-4 gap-3" style="width: min-content;">
            <p class="p-0">Avaliação: &nbsp;</p>
            <!-- count all stars -->
            <ul class="text-warning d-flex end-0 p-0" style="list-style-type: none;" [innerHTML]="countStars">

            </ul>
        </div>
    </div>
    
    <div class="d-flex w-100">
        <div class="box-img w-50 rounded-3 overflow-hidden">
            <img 
                src="{{ url() }}/{{ imagePost }}"
                alt="">
        </div>
        <div class="position-relative pt-4 px-4 pb-0 w-50 details d-flex flex-column gap-4">
            <h4 class="mb-4 title-details">Características</h4>
            <ul style="list-style-type: none;" class="m-0 p-0 ">
                <!-- <li class="d-flex gap-2 d-flex align-items-center">
                    <i class="bi bi-eye-fill"></i>
                    <p>145 Visualizações</p> 
                </li> -->

                <li class="d-flex gap-2">
                    <i class="bi bi-chat-dots-fill"></i>
                    <p>{{ comments }}</p>
                </li>

            </ul>

            <div class="mt-2" [innerHTML]="description"> </div>
        </div>
    </div>
    
    <div class="d-flex justify-content-between">
        <p class="mt-4">Cadastrado por: <span class="fw-bold"> {{ username }} </span></p>
        <p class="mt-4 text-muted">Localização: {{ address  }}, {{ number }} | {{ neighborhood }} - {{ city }}, {{ state }}</p>
    </div>
</main>