:host{
    
    .detail-assessment{
        background-color: rgb(106, 235, 8);
    }

    .small{
        width: 10% !important;
    }

    .core{
        max-height: 80vh;

        p{
            font-size: 0.9rem;

            span{
                color: #f26101;
            }
        }

        .box-img{
            position: relative;
            max-height: 400px;
            // width: 250px;

            img{
                width: 100% !important;
                max-height: 100%;
                object-fit: cover; 
            }

        }


        .details{

            ul li i{
                font-size: 0.8rem;
            }

            .title-details{
                position: relative;
    
                &::before{
                    content: '';
                    position: absolute;
                    display: block;
                    height: 15px;
                    width: 15px;
                    transform: translate(-40%, 28%);
                    border-radius: 50%;
                    background-color: #f26101;
                    opacity: 0.7;
                    z-index: -1;
                }
            }
        }

       
    }
}