<section>
    @if(hasComment){

        <form [formGroup]="comment" class="w-100 d-flex flex-column p-3 position-relative gap-2" (ngSubmit)="submit()">
            <editor
                #description
                formControlName="description"
                apiKey="t3iwjkh6fkgdcvexigd07xrnn3grpqihr9qlceidfz0bvu8h" 
                [init]="{
                    selector: 'textarea',
                    menubar: '',
                    toolbar: 'undo redo | bold italic | alignleft aligncenter alignright alignjustify',
                    statusbar: false,
                    max_height: 200,
                    width: '100%',
            }"></editor>


            @if(comment.dirty && comment.get('description')?.errors ){
                <span class="text-danger">O campo deve possuir pelo pelos 30 caracteres!</span>
            }
            
            <div class="align-self-end d-flex gap-2 box_buttons">
                <button (click)="this.hasComment = false;">Cancelar</button>
                <button 
                    class="btnSecondary" 
                    type="submit"
                    [disabled]="(comment.get('description')?.errors)"    
                >Cadastrar</button>
            </div>
        </form>

    }@else{
        <div class="d-flex align-items-center justify-content-between px-2">    
            <p class="ms-5">Nenhum comentáro ainda...😢</p>
            <button (click)="this.hasComment = true">Cadastrar</button>
        </div>
    }
</section>