<app-header />
    <div class="container-fluid">
        <div class="row w-50 p-5">
            <h4>Filtrar por:</h4>
            <div class="d-flex gap-2 mt-3 pe-5">
                <select class="form-select w-50" name="" id="">
                    <option selected>Escolha</option>
                    <option value="">Lugar</option>
                    <option value="">Pessoa</option>
                </select>

                <input type="text" class="form-control" name="" placeholder="pesquisar por...">

                <button class="btnSecondary px-4">Pesquisar</button>
            </div>
        </div>
        <div class="row mx-5 d-flex gap-5">
            <div class="col-4 shadow px-4 py-4 rounded-3 d-flex flex-column gap-3 boxCards">



                <!-- CARDS -->
                <div class="card shadow-sm d-flex flex-row py-1 myCard">
                    <div class="col-2 d-flex align-items-center justify-content-center box-img d-flex">
                        <img 
                            src="/assets/img/comment-one.jpg" 
                            height="50px"
                            width="50px"
                            alt=""
                            class="rounded-circle bg-primary"
                            >
                    </div>
                    <div class="col d-flex flex-column justify-content-center gap-2 p-2 box-details">
                        <h5>Pão com Boi</h5>
                        <ul class="d-flex gap-3 p-0 m-0" style="list-style-type: none;">
                            <li>
                                <i class="bi bi-eye"></i>
                                445
                            </li>
                            <li>
                                <i class="bi bi-chat-dots"></i>
                                18
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card shadow-sm d-flex flex-row py-1 myCard">
                    <div class="col-2 d-flex align-items-center justify-content-center box-img d-flex">
                        <img 
                            src="/assets/img/comment-one.jpg" 
                            height="50px"
                            width="50px"
                            alt=""
                            class="rounded-circle bg-primary"
                            >
                    </div>
                    <div class="col d-flex flex-column justify-content-center gap-2 p-2 box-details">
                        <h5>Pão com Boi</h5>
                        <ul class="d-flex gap-3 p-0 m-0" style="list-style-type: none;">
                            <li>
                                <i class="bi bi-eye"></i>
                                445
                            </li>
                            <li>
                                <i class="bi bi-chat-dots"></i>
                                18
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card shadow-sm d-flex flex-row py-1 myCard">
                    <div class="col-2 d-flex align-items-center justify-content-center box-img d-flex">
                        <img 
                            src="/assets/img/comment-one.jpg" 
                            height="50px"
                            width="50px"
                            alt=""
                            class="rounded-circle bg-primary"
                            >
                    </div>
                    <div class="col d-flex flex-column justify-content-center gap-2 p-2 box-details">
                        <h5>Pão com Boi</h5>
                        <ul class="d-flex gap-3 p-0 m-0" style="list-style-type: none;">
                            <li>
                                <i class="bi bi-eye"></i>
                                445
                            </li>
                            <li>
                                <i class="bi bi-chat-dots"></i>
                                18
                            </li>
                        </ul>
                    </div>
                </div>

                

                <!-- CLOSE CARDS -->

            </div> <!-- Close First Column -->

            <div class="col d-flex flex-column p-0">
                <main class="col w-100 p-4 w-100 rounded-3 shadow core">
                    <h3 class="mb-4">Pão com Boi</h3>
                    <div class="d-flex">
                        <div class="box-img w-50 rounded-3 overflow-hidden">
                            <img 
                                src="/assets/img/comment-one.jpg" 
                                width="100%"
                                height="100%"
                                alt="">
                        </div>
                        <div class="position-relative p-4 w-50 details">
                            <h4 class="mb-4 title-details">Características</h4>
                            <ul style="list-style-type: none;" class="m-0 p-0 ">
                                <li class="d-flex gap-2 d-flex align-items-center">
                                    <i class="bi bi-eye-fill"></i>
                                    <p>145 Visualizações</p>
                                </li>

                                <li class="d-flex gap-2">
                                    <i class="bi bi-chat-dots-fill"></i>
                                    <p>145 Comentários</p>
                                </li>
                            </ul>

                            <div class="position-absolute bottom-0  ">
                                <p class="text-muted">Localização:  Rua Genaro Urso, Residencial Astória - Tatuí  - São Paulo</p>
                            </div>

                        </div>
                    </div>
                    <p class="mt-4">Cadastrado por: <span class="fw-bold">Pedro Fonseca da Costa</span></p>
                </main>

                <!-- ---------------- COMMENTS -->
                <div class="col mt-5 position-relative box-comments">
                    <h4 class="fw-bold mb-4">Comentários: </h4>

                    <div class="row w-100 m-0 my-3">
                        <div class="col-1">

                            <div class="overflow-hidden position-relative commentProfile">
                                <img 
                                    src="/assets/img/comment-three.jpg" 
                                    alt="some person"
                                    class="img-fluid h-100 object-fit-cover"
                                >
                            </div>
                            
                        </div>
                        <div class="col pe-0">
                            <h5 class="mt-1 mb-3 text-muted" style="transform: translateX(-4%); font-size: 1rem;">Rosa Mendes Visconde</h5>
                            <textarea name="" id="" cols="30" rows="3" class="form-control p-2 text-muted" readonly disabled style="font-size: 0.9rem;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, pariatur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat voluptatem eligendi facere maiores ex perspiciatis, neque est quasi? Assumenda, distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quia mollitia.</textarea>
                        </div>
                    </div>

                    <div class="row w-100 m-0 my-3">
                        <div class="col-1">

                            <div class="overflow-hidden position-relative commentProfile">
                                <img 
                                    src="/assets/img/comment-three.jpg" 
                                    alt="some person"
                                    class="img-fluid h-100 object-fit-cover"
                                >
                            </div>
                            
                        </div>
                        <div class="col pe-0">
                            <h5 class="mt-1 mb-3 text-muted" style="transform: translateX(-4%); font-size: 1rem;">Rosa Mendes Visconde</h5>
                            <textarea name="" id="" cols="30" rows="3" class="form-control p-2 text-muted" readonly disabled style="font-size: 0.9rem;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, pariatur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat voluptatem eligendi facere maiores ex perspiciatis, neque est quasi? Assumenda, distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quia mollitia.</textarea>
                        </div>
                    </div>

                    <div class="row w-100 m-0 my-3">
                        <div class="col-1">

                            <div class="overflow-hidden position-relative commentProfile">
                                <img 
                                    src="/assets/img/comment-three.jpg" 
                                    alt="some person"
                                    class="img-fluid h-100 object-fit-cover"
                                >
                            </div>
                            
                        </div>
                        <div class="col pe-0">
                            <h5 class="mt-1 mb-3 text-muted" style="transform: translateX(-4%); font-size: 1rem;">Rosa Mendes Visconde</h5>
                            <textarea name="" id="" cols="30" rows="3" class="form-control p-2 text-muted" readonly disabled style="font-size: 0.9rem;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, pariatur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat voluptatem eligendi facere maiores ex perspiciatis, neque est quasi? Assumenda, distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quia mollitia.</textarea>
                        </div>
                    </div>

                    <div class="row w-100 m-0 my-3">
                        <div class="col-1">

                            <div class="overflow-hidden position-relative commentProfile">
                                <img 
                                    src="/assets/img/comment-three.jpg" 
                                    alt="some person"
                                    class="img-fluid h-100 object-fit-cover"
                                >
                            </div>
                            
                        </div>
                        <div class="col pe-0">
                            <h5 class="mt-1 mb-3 text-muted" style="transform: translateX(-4%); font-size: 1rem;">Rosa Mendes Visconde</h5>
                            <textarea name="" id="" cols="30" rows="3" class="form-control p-2 text-muted" readonly disabled style="font-size: 0.9rem;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, pariatur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat voluptatem eligendi facere maiores ex perspiciatis, neque est quasi? Assumenda, distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quia mollitia.</textarea>
                        </div>
                    </div>
                </div>  
                <!-- ---------------- END COMMENTS -->


            </div> <!-- Close Last Column -->
            
        </div>
    </div>
<app-footer />
