:host{

    .boxCards{
        background-color: #f26101dd;
    }

    .myCard{
        .box-img{
            position: relative;

            img{
                object-fit: cover;
            }
        }

        .box-details{
            ul li{
                color: #304269;
            }
        }
    }

    .core{

        p{
            font-size: 0.9rem;

            span{
                color: #f26101;
            }
        }

        .box-img{
            position: relative;
            // height: 250px;
            // width: 250px;

        }


        .details{

            ul li i{
                font-size: 0.8rem;
            }

            .title-details{
                position: relative;
    
                &::before{
                    content: '';
                    position: absolute;
                    display: block;
                    height: 15px;
                    width: 15px;
                    transform: translate(-40%, 28%);
                    border-radius: 50%;
                    background-color: #f26101;
                    opacity: 0.7;
                    z-index: -1;
                }
            }
        }

       
    }
}