<app-header />
    <div class="container-fluid">
        <div class="row w-50 p-5">
            <form [formGroup]="filterSearch" (ngSubmit)="submit()">
                <h4>Filtrar por:</h4>
                <div class="d-flex gap-2 mt-3 pe-5">
                    <select class="form-select w-50" name="" id="" formControlName="category" (change)="getAllPeople()">
                        <option selected>Escolha</option>
                        <option value="places">Lugares</option>
                        <option value="people">Pessoas</option>
                    </select>
    
                    <input type="text" class="form-control" name="" placeholder="pesquisar por..." formControlName="description">
    
                    <button class="btnSecondary px-4" style="min-width: 120px;">
                        <app-spinner 
                            [textAlternative]="'Pesquisar'"
                        /> 
                    </button>
                </div>
            </form>
        </div>
    

        @if(filterSearch.value.category === "places"){

            <app-places 
                [places]="places()"
            />        

        } @else {
            <app-people 
                [people]="people()"
            />
        }
        
    </div>
<app-footer />
