<app-header />
    <div class="container-fluid">
        <div class="row w-50 p-5">
            <h4>Filtrar por:</h4>
            <div class="d-flex gap-2 mt-3 pe-5">
                <select class="form-select w-50" name="" id="">
                    <option selected>Escolha</option>
                    <option value="">Lugar</option>
                    <option value="">Pessoa</option>
                </select>

                <input type="text" class="form-control" name="" placeholder="pesquisar por...">

                <button class="btnPrimary px-4">Pesquisar</button>
            </div>
        </div>
        <div class="row mx-5 d-flex gap-5">
            <div class="col-4 shadow px-4 py-4 rounded-3 d-flex flex-column gap-3 boxCards">

                <div class="card shadow-sm d-flex flex-row py-1 myCard">
                    <div class="col-2 d-flex align-items-center justify-content-center box-img d-flex">
                        <img 
                            src="/assets/img/comment-one.jpg" 
                            height="50px"
                            width="50px"
                            alt=""
                            class="rounded-circle bg-primary"
                            >
                    </div>
                    <div class="col d-flex flex-column justify-content-center gap-2 p-2">
                        <h5 class="">Pão com Boi</h5>
                        <ul class="d-flex gap-3 p-0 m-0" style="list-style-type: none;">
                            <li>
                                <i class="bi bi-eye"></i>
                                445
                            </li>
                            <li>
                                <i class="bi bi-chat-dots"></i>
                                18
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card shadow-sm d-flex flex-row py-1 myCard">
                    <div class="col-2 d-flex align-items-center justify-content-center box-img d-flex">
                        <img 
                            src="/assets/img/comment-one.jpg" 
                            height="50px"
                            width="50px"
                            alt=""
                            class="rounded-circle bg-primary"
                            >
                    </div>
                    <div class="col d-flex flex-column justify-content-center gap-2 p-2">
                        <h5 class="">Pão com Boi</h5>
                        <ul class="d-flex gap-3 p-0 m-0" style="list-style-type: none;">
                            <li>
                                <i class="bi bi-eye"></i>
                                445
                            </li>
                            <li>
                                <i class="bi bi-chat-dots"></i>
                                18
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card shadow-sm d-flex flex-row py-1 myCard">
                    <div class="col-2 d-flex align-items-center justify-content-center box-img d-flex">
                        <img 
                            src="/assets/img/comment-one.jpg" 
                            height="50px"
                            width="50px"
                            alt=""
                            class="rounded-circle bg-primary"
                            >
                    </div>
                    <div class="col d-flex flex-column justify-content-center gap-2 p-2">
                        <h5 class="">Pão com Boi</h5>
                        <ul class="d-flex gap-3 p-0 m-0" style="list-style-type: none;">
                            <li>
                                <i class="bi bi-eye"></i>
                                445
                            </li>
                            <li>
                                <i class="bi bi-chat-dots"></i>
                                18
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="card shadow-sm d-flex flex-row py-1 myCard">
                    <div class="col-2 d-flex align-items-center justify-content-center box-img d-flex">
                        <img 
                            src="/assets/img/comment-one.jpg" 
                            height="50px"
                            width="50px"
                            alt=""
                            class="rounded-circle bg-primary"
                            >
                    </div>
                    <div class="col d-flex flex-column justify-content-center gap-2 p-2">
                        <h5 class="">Pão com Boi</h5>
                        <ul class="d-flex gap-3 p-0 m-0" style="list-style-type: none;">
                            <li>
                                <i class="bi bi-eye"></i>
                                445
                            </li>
                            <li>
                                <i class="bi bi-chat-dots"></i>
                                18
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="card shadow-sm d-flex flex-row py-1 myCard">
                    <div class="col-2 d-flex align-items-center justify-content-center box-img d-flex">
                        <img 
                            src="/assets/img/comment-one.jpg" 
                            height="50px"
                            width="50px"
                            alt=""
                            class="rounded-circle bg-primary"
                            >
                    </div>
                    <div class="col d-flex flex-column justify-content-center gap-2 p-2">
                        <h5 class="">Pão com Boi</h5>
                        <ul class="d-flex gap-3 p-0 m-0" style="list-style-type: none;">
                            <li>
                                <i class="bi bi-eye"></i>
                                445
                            </li>
                            <li>
                                <i class="bi bi-chat-dots"></i>
                                18
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col bg-primary">
                <p>Something</p>
            </div>
        </div>
    </div>
<app-footer />
