<footer class="d-flex p-5">
    <div class="col-4">
        <h3 class="fs-2 fw-bold">Contact me</h3>
        <div class="d-flex gap-2 mt-1">  
            <a href="https://www.linkedin.com/in/joao-victor-silva-de-jesus" target="_blank">
                <i class="bi bi-linkedin fs-4"></i>
            </a>
            <a href="https://github.com/joaovsj" target="_blank">
                <i class="bi bi-github fs-4"></i>
            </a>
            <a href="https://wa.me/5515997444127?text=Consegui%20seu%20numero%20atraves%20do%20site!" target="_blank">
                <i class="bi bi-whatsapp fs-4"></i>
            </a>
        </div>
    </div>
    <div class="col d-flex align-items-end ps-2">
        <p class="fs-5 ms-5 mb-3">&copy; Created by João Victor Silva de Jesus</p>
    </div>
</footer>
