:host{
    footer{
        margin-top: 10vh !important;
        background-color: #172033;
        color: #FFF;

        a{
            text-decoration: none;
            color: #FFF;
        }
    }
}