<main>
    <app-header/>    

    <section class="container d-flex justify-content-center mt-5 first-section mb-5">
        <div class="col-5 my-5 d-flex align-items-center justify-content-center">
            <div class="box-img">
                <img ngSrc="assets/img/woman-thinking.jpg" fill alt="Mulher Pensando">
            </div>
        </div>
        <div class="col-5 d-flex flex-column align-items-center justify-content-center">
            <div class="box-invite">
                <p>Bem Vindo a </p>
                <p class="text-icon"><i class="bi bi-geo-alt-fill me-1"></i> <strong>GoodPlace!</strong> </p>
                <span>O lugar certo para encontrar lugares ótimos.</span>
                <button class="d-block btnPrimary">Registre-se</button>
            </div>
        </div>
    </section>
    <section class="container-fluid p-5 d-flex about">
        <div class="col ms-5 h-25">
            <h1 class="ms-5 fw-bold">Quem Somos?</h1>
        </div>
        <div class="col-6 me-5 d-flex align-items-end h-75">
            <p class="fs-5 mb-3 me-5">Somos uma plataforma com o objetivo de criar conexões de lugares a pessoas. Um espaço onde você é livre para compartilhar suas experiências sobre cidades, pontos turísticos, viagens, comidas, conforto e lazer onde você já esteve e ajudar outras pessoas que estão pensando e viajar para fazer um Break e viver novas experiências.</p>
        </div>
    </section>

    <section class="container-fluid d-flex benefits">
        <div class="col-5 ms-5 ps-5 d-flex align-items-center">
            <h3 class="ms-5 fs-1 fw-bold">Chega de ficar inseguro com a sua viagem!</h3>
        </div>
        <div class="col ms-5 w-50">
            <div class="container-fluid h-100 d-flex">
                <div class="col d-flex flex-column justify-content-around align-items-center">
                    <div class="box-card p-3 bg-light">
                        <div class="head w-100 mb-3 d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-shield-check"></i>
                            <span class="fw-bold">Segurança</span>
                        </div>
                        <p class="text-center text-muted">Com uma rede de pessoas que amam viajar, você pode ver o depoimento de quem já esteve onde você quer ir!</p>
                    </div>    
                    <div class="box-card p-3 bg-light">
                        <div class="head w-100 mb-3 d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-image"></i>
                            <span class="fw-bold">Fotos</span>
                        </div>
                        <p class="text-center text-muted">Ninguém quer esquecer uma boa experiência, então bora ver umas fotos e criar as suas próprias em uma rede super divertida e interessante!</p>
                    </div>    
                </div>
                <div class="col d-flex align-items-center justify-content-center">
                    <div class="box-card p-3 bg-light">
                        <div class="head w-100 mb-3 d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-people"></i>
                            <span class="fw-bold">Network</span>
                        </div>
                        <p class="text-center text-muted">Imagina se conectar em uma rede de pessoas super interessadas em viajar e participar de conversas, debates, críticas e tudo mais...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container d-flex flex-column gap-5 w-100 py-5 presence">
        <div class="col">
            <h3 class="text-center text-white">Conheça nossa presença na vida das pessoas!</h3>
        </div>
        <div class="col-8 mx-auto my-5 d-flex justify-content-around">

            @for(item of comments(); track item){
                <div class="card-person d-flex flex-column bg-light align-items-center justify-content-center px-3 py-4 rounded-3">
                    <div class="img mb-3">
                        <img ngSrc="{{ item.src }}" fill alt="">
                    </div>
                    <p class="text-center text-muted">"{{ item.description }}"</p>
                    <span>{{ item.person.name }}</span>
                    <span class="fst-italic opacity-50">{{ item.person.job }}</span>
                </div>
            }

        </div>
    </section>


    <section class="last-message">
        <div class="col-6 mx-auto my-5 d-flex flex-column align-items-center justify-content-center">
            <h3 class="text-center fs-2">
                Vai mesmo ficar de fora? Vem somar com a gente e descobrir um mundo de novas experiências...</h3> 
            <span class="fs-2 mx-auto">Vem ser&nbsp;<i class="bi bi-geo-alt-fill"></i>GoodPlace!</span> 

            <button class="d-block my-5 btnPrimary">Registre-se</button>
        </div>
    </section>

    <app-footer />
</main>


