<main>
    <app-header/>    

    <section class="container d-flex justify-content-center mt-5 first-section">
        <div class="col-5 my-5 d-flex align-items-center justify-content-center">
            <div class="box-img">
                <img ngSrc="assets/img/woman-thinking.jpg" fill alt="Mulher Pensando">
            </div>
        </div>
        <div class="col-5 d-flex flex-column align-items-center justify-content-center">
            <div class="box-invite">
                <p>Bem Vindo a </p>
                <p class="text-icon"><i class="bi bi-geo-alt-fill me-1"></i>GoodPlace!</p>
                <span>O lugar certo para encontrar lugares ótimos.</span>
                <button class="d-block btnPrimary">Registre-se</button>
                <!-- <app-button nameClass="primary" text="Registre-se" newStyle="{display: block}"/> -->
            </div>
        </div>
    </section>
</main>


