:host{

    .box-img{
        position: relative;
        height: 450px;
        width: 300px;
        box-shadow: 5px 5px 14px rgba(0,0,0,0.3);

        img{
            object-fit: cover;
        }

        &::before{
            content: '';
            display: block;
            height: 250px;
            width: 250px;
            background-color: #304269;
            position: absolute;
            transform: translate(-8%, -8%);
        }

        &::after{
            content: '';
            display: block;
            height: 50px;
            width: 50px;
            background-color: #F26101;
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(25%, 25%);
            z-index: -1;
        }
    }

    .box-invite{
        transform: translateY(-25px);

        p{
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: calc(2vmax + 20px);

            i{
                font-size: 1.8rem;
                color: #F26101;
            }
        }

        .text-icon{
            display: flex;
            align-items: center;
        }

        span{
            font-size: 1.2rem;
        }

        button{
            margin: 20px 0;
        }
    }


    .about{
        height: 60vh;
        margin: 15vh 0;
        background: hsla(191, 60%, 89%, 1);
        background: linear-gradient(90deg, hsla(191, 60%, 89%, 1) 20%, hsla(56, 59%, 86%, 1) 100%);
    }


    .benefits{
        height: 100vh;
        margin: 5vh 0;

        .box-card{
            height: 260px;  
            width: 250px;
            border-radius: 8px !important;
            box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
            margin: 10px;
            
            &>p{
                font-size: .8rem;
            }

            .head{
                height: 60%;

                i{  
                    font-size: 4rem;
                    position: relative;
                    opacity: 0.9;

                    &::after{
                        content: '';
                        display: block;
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        position: absolute;
                        background-color: #f26101b9;
                        top: 15%;
                        left: -7%;
                        z-index: -1;
                    }

     
                }
            }
        }


        div:last-child{
            background-color: #f26101b9;
            border-radius: 12px 0 0 12px;
        }

    }

    .presence{
        // height: vh;
        background-color: #304269;
        border-radius: 12px;
        margin: 20vh auto;
        color: #061c37;

        .card-person{   
            width: 225px;
            max-height: 350px;
            box-shadow: 0px 4px 4px rgba(0,0,0,0.3);

            .img{
                position: relative;
                height: 100px;
                width: 100px;
                border-radius: 50%;
                background-color: tomato;
                overflow: hidden;

                img{
                    object-fit: cover;
                }
            }

            p{
                font-size: .8rem;
                position: relative;

                &::after{
                    content: '';
                    display: block;
                    height: 2px;
                    width: 10%;
                    margin: 0 auto;
                    top: 50%;
                    margin: 10px auto;
                    background-color: #000;
                }
            }

            span{
                font-size: 0.8rem;
            }
        }
    }

    .last-message{
        span{
            font-weight: 500;
            display: flex;
            align-items: center;

            i{
                font-size: 1.2rem;
                transform: translateY(2px);
                color: #F26101;
            }
        }
    }
    
    
}