:host{
  .myToast{
    min-width: 320px;    
    min-height: 40px;  
    max-height: 70px;  
    opacity: 0;
  }


  .toastSuccess{
    background-color: #1ab93a; 
  }

  .toastDanger{
    // background-color: red; 
  }

  .toastWarning{
    
  }

  .toastInfo{
    
  }


}

