:host {
  

%default-toast { 
  position: absolute;
  top: 0;
  right: 0rem;  
  margin: 2rem;  
  display: inline-flex;  
  min-width: 320px;    
  min-height: 40px;  
  max-height: 70px;  
  box-shadow: 6px 6px 12px #00000040;  
  background-color: rgba(4, 255, 0, 0.123);
  


  flex-flow: row nowrap;  
  align-items: center;  
  justify-content: center;
  border-left: 6px solid black;  
  padding: 1.5rem 1.5rem 1.5rem 1rem;  
  border-radius: 4px;  
  font-size: 0.9rem;

  div:first-child{
    width: 100%;
    // background-color: blue
  }
}

// Default toast
.toast-class {  
  @extend %default-toast; // You then add the styles to another selector with the @extend decorator
}

// Now we can make our state-specific classes

// Success
.success-toast {  
  @extend %default-toast;  
  border-left: 6px solid rgb(14, 244, 10);
}


}
