:host{
  .myToast{
    min-width: 320px;  
    max-width: 700px; 
    min-height: 40px;  
    max-height: 70px;  
    
    
    // For animation
    z-index: 3;
    transform: translateY(-20px);
  }


  .toastSuccess{
    color: #FFF;
    background-color: var(--success); 
  }

  .toastDanger{
    color: #FFF;
    background-color: var(--error); 
  }

  .toastWarning{
    color: black;
    &>i:first-child{
      color: var(--warning);
    }
  }

  .toastInfo{
    color: #FFF;
    background-color: var(--info); 
  }


}

