<app-header />
    <div class="container-fluid">
        <div class="row w-50 p-5">
            <form>
                <h4>Filtrar por:</h4>
                <div class="d-flex gap-2 mt-3 pe-5">
                    <select class="form-select w-50" name="" id="" formControlName="category">
                        <option selected>Escolha</option>
                        <option value="places">Lugares</option>
                        <option value="people">Pessoas</option>
                    </select>
    
                    <input type="text" class="form-control" name="" placeholder="pesquisar por..." formControlName="description">
    
                    <button class="btnSecondary px-4">Pesquisar</button>
                </div>
            </form>
        </div>
    
        <!-- Vai ser uma página para ver a a avaliação de uma pessoa X, e os comentários feitos à respeito dessa pessoa. -->

        <div class="row ms-5 me-2">
            <div class="col-8 p-0">

                @if(post()){
                    <app-description 
                        [title]="post()[0].name"
                        [stars]="post()[0].assessment"
                        [comments]="post()[0].comments"
                        [description]="post()[0].description"
                        [username]="post()[0].username"
                        [imagePost]="post()[0].image"
                        [category]="post()[0].category"

                        [address]="post()[0].address" 
                        [number]="post()[0].number"
                        [neighborhood]="post()[0].neighborhood"
                        [city]="post()[0].city"
                        [state]="post()[0].state"
                        [details]="post()[0].details"
                    />         
                }
    
            </div>
            <div class="col ms-3  rounded-3">
                
                <h4 class="fw-bold mb-4">Comentários: </h4>

                @if(comments()){
                    @for (comment of comments(); track $index) {
                        <app-box-comment 
                            [name]="comment.name"
                            [image]="comment.image"
                            [description]="comment.description"
                        />
                    }
                }

            </div>
        </div>
        
    </div>
<app-footer />