<app-header />
    <div class="container-fluid">
        <div class="row w-50 p-5">
            <form>
                <h4>Filtrar por:</h4>
                <div class="d-flex gap-2 mt-3 pe-5">
                    <select class="form-select w-50" name="" id="" formControlName="category">
                        <option selected>Escolha</option>
                        <option value="places">Lugares</option>
                        <option value="people">Pessoas</option>
                    </select>
    
                    <input type="text" class="form-control" name="" placeholder="pesquisar por..." formControlName="description">
    
                    <button class="btnSecondary px-4">Pesquisar</button>
                </div>
            </form>
        </div>
    
        <!-- Vai ser uma página para ver a a avaliação de uma pessoa X, e os comentários feitos à respeito dessa pessoa. -->

        <div class="row ms-5 me-2">
            <div class="col-8 p-0">
                <app-description />
            </div>
            <div class="col  ms-3 p-4 rounded-3">
                <app-box-comment />
            </div>
        </div>
        
    </div>
<app-footer />