<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
      <div class="modal-content shadow p-5 mt-5 rounded-3" style="width: 45vw">
        <div class="modal-header">
          <h1 class="modal-title fs-4 fw-bolder" id="exampleModalLabel">Novo Post </h1>
          <span></span>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-5" style="width: 38vw;">
            <div class="col position-relative">
                <section class="d-flex position-relative gap-2">
                    @switch (stepForm()) {
                        @case('step-1'){
                            <div class="w-100 box-step" [@state]>
                                <div class="d-flex justify-content-between">
                                    <p class="mb-3">Nos conte aonde você foi!</p>
                                    <p>{{ stepBar() }}/4</p>
                                </div>
                                <form class="d-flex gap-2">
                                    <input type="text" class="form-control" placeholder="Nome..." #name>
                                    <button class="btnSecondary" type="button" (click)="receiveName(name.value)" [disabled]="">Avançar</button>
                                </form>                   
                            </div>
                        }

                        @case('step-2'){
                            <div class="w-100 box-step" [@state]>
                                <div class="d-flex justify-content-between">
                                    <p class="mb-3">Esse local já é cadastrado?</p>
                                    <p>{{ stepBar() }}/4</p>
                                </div>
                                <div class="d-flex gap-2 align-items-end">
                                <div class="d-flex flex-column flex-grow-1 gap-2 ms-3">
                                        
                                    <div class="d-flex gap-1">
                                        <input type="radio" name="alreadyRegistered" id="yes" (click)="alreadyRegistered(true)">
                                        <label for="yes">Sim</label>
                                    </div>

                                    <div class="d-flex gap-1">
                                        <input type="radio" name="alreadyRegistered" id="no" (click)="alreadyRegistered(false)">
                                        <label for="no">Não</label>
                                    </div>
                                </div>
                                    <button class="btnSecondary" type="button" (click)="nextStep('step-3')">Avançar</button>
                                </div>                   
                            </div>
                        }

                        @case('step-3'){
                            <div class="w-100 box-step" [@state]>

                            
                                    @if(placeRegistered()){
                                        
                                        <p>Já cadastrado...</p>

                                    }@else {
                                        
                                        <div class="d-flex justify-content-between">
                                            <p class="mb-3">Onde {{ temporaryName() }} fica?</p>
                                            <p>{{ stepBar() }}/4</p>
                                        </div>

                                        <form [formGroup]="place" class="container d-flex flex-column flex-column gap-2 position-relative">

                                    
                                            <div class="row gap-2">
                                                <input 
                                                    type="text" formControlName="cep" id="cep" placeholder="Cep" class="rounded-2 col form-control" (keyup)="findAdressByCEP(place.value?.cep)">                             
                                                <input 
                                                    type="text" formControlName="number" id="number" placeholder="Número" class="rounded-2 col form-control">                             
                                            </div>

                                            <div class="row gap-2">
                                                <input 
                                                    type="text" formControlName="address" id="address" placeholder="Rua" class="rounded-2  col-8 form-control">                             
                                                <input 
                                                    type="text" formControlName="neighborhood" id="neighborhood" placeholder="Bairro" class="rounded-2 col form-control">                             
                                            </div>

                                            <div class="row gap-2">
                                                <input type="text" formControlName="city" id="city" placeholder="Cidade" class="rounded-2 col form-control">
                                                <input type="text" formControlName="state" id="state" placeholder="Estado" class="rounded-2 col form-control">
                                                
                                                <select formControlName="country" class="rounded-2 col form-control">
                                                    <option value="" selected>País</option>
                                                    
                                                    @for (item of contries(); track $index) {
                                                        <option value="{{ item.nome }}"> {{ item.nome }} </option>
                                                    }

                                                </select>
                                            </div>

                                            <div class="row gap-2 d-flex">
                                                
                                                <button 
                                                    class="btnSecondary col-6 offset-6" type="button" 
                                                    [class.disabled]="place.invalid"
                                                    (click)="nextStep('step-final')"
                                                    [disabled]="place.invalid"
                                                    
                                                >Avançar</button>
                                            </div>
                                        </form>    

                                    }
                
                            </div>





                        }
                        @case('step-final'){
                            <div class="w-100 box-step" [@state]>
                                <div class="d-flex justify-content-between">
                                    <p class="mb-2">Que tipo de lugar é?</p>
                                    <p>{{ stepBar() }}/4</p>
                                </div>
                                <form  [formGroup]="assessment" class="d-flex flex-column gap-3 my-2"  enctype="multipart/form-data">

                                    <div class="gap-2">
                                        
                                        <select formControlName="category_id" class="form-select w-100" aria-label="Default select example">
                                            <option selected>Escolha</option>

                                            @for (category of categories(); track $index) {    
                                                <option value="{{ category.id }}"> {{ category.name }} </option>
                                            }
                                        </select>
                                    </div>

                                    <div class="row position-relative">
                                        <p class="mt-2">Sua avaliação é muito importante... </p>
                                    
                                        <div class="d-flex gap-2 position-relative my-1 ms-2">    
                                            <button type="button" (click)="setNumberStarts(1)" class="stars">

                                                @if(numberStars() >= 1){
                                                    <i class="bi bi-star-fill text-warning"></i>
                                                }@else {
                                                    <i class="bi bi-star text-dark"></i>
                                                }   

                                                
                                            </button>
                                            <button type="button" (click)="setNumberStarts(2)" class="stars">
                                                @if(numberStars()>=2){
                                                    <i class="bi bi-star-fill text-warning"></i>
                                                }@else {
                                                    <i class="bi bi-star text-dark"></i>
                                                }   
                                            </button>
                                            <button type="button" (click)="setNumberStarts(3)" class="stars">
                                                @if(numberStars()>=3){
                                                    <i class="bi bi-star-fill text-warning"></i>
                                                }@else {
                                                    <i class="bi bi-star text-dark"></i>
                                                }   
                                            </button>
                                            <button type="button" (click)="setNumberStarts(4)" class="stars">
                                                @if(numberStars()>=4){
                                                    <i class="bi bi-star-fill text-warning"></i>
                                                }@else {
                                                    <i class="bi bi-star text-dark"></i>
                                                }   
                                            </button>
                                            <button type="button" (click)="setNumberStarts(5)" class="stars">
                                                @if(numberStars()>=5){
                                                    <i class="bi bi-star-fill text-warning"></i>
                                                }@else {
                                                    <i class="bi bi-star text-dark"></i>
                                                }   
                                            </button>
                                        </div>


                                        <div class="mt-2 d-flex flex-column gap-2" formArrayName="details">

                                            @for (item of assessment.value.details; track $index) {
                                                <div class="d-flex">
                                                    <select class="form-select col" aria-label="Default select example" #detail>
                                                        <option value="">Serviços</option>
                                                        <option value="Atendimento">Atendimento</option>
                                                        <option value="Conforto">Conforto</option>
                                                        <option value="Localização">Localização</option>
                                                        <option value="Alimentação">Alimentação</option>
                                                        <option value="Qualidade">Qualidade</option>
                                                        <option value="Variedade">Variedade</option>
                                                        <option value="Organização">Organização</option>
                                                        <option value="Facilidade de pagamento">Facilidade de pagamento</option>
                                                        <option value="Segurança">Segurança</option>
                                                        <option value="Horário de funcionamento">Horário de funcionamento</option>
                                                    </select>
                                                    <select class="form-select col mx-3" aria-label="Default select example" #assessment>
                                                        <option selected>Avaliação</option>
                                                        <option value="5">Excelente</option>
                                                        <option value="4">Bom</option>
                                                        <option value="3">Regular</option>
                                                        <option value="2">Ruim</option>
                                                        <option value="1">Péssima</option>
                                                    </select>
                                                    <button class="btn border border-dark col more-services" (click)="addNewDetail(detail.value, assessment.value)">
                                                        <!-- <i class="bi bi-plus-lg"></i>    -->
                                                        <i class="fa-solid fa-check"></i>
                                                    </button>
                                                </div>
                                            }
                                        </div>

                                        <div class="mt-3">
                                            <label for="formFileSm" class="form-label">Faça o upload da sua foto nesse lugar!</label>
                                            <input class="form-control form-control" id="formFileSm" type="file" (change)="onfileSelected($event)">
                                        </div>

                                    </div>

                                    <div>

                                        <!-- plugins: 'lists link image table code help wordcount' -->
                                        <label for="description" class="mb-2">Nos conte o que você achou dessse lugar!</label>
                                        <editor
                                            #description
                                            formControlName="description"
                                            apiKey="t3iwjkh6fkgdcvexigd07xrnn3grpqihr9qlceidfz0bvu8h" 
                                            [init]="{
                                                selector: 'textarea',
                                                menubar: '',
                                                toolbar: 'undo redo | bold italic | alignleft aligncenter alignright alignjustify',
                                                statusbar: false,
                                                max_height: 300,
                                                max_width: 500,
                                                min_height: 100,
                                                min_width: 400
                                        }"></editor>
                                        <!-- <textarea name="" id="" cols="30" rows="5" class="w-100 rounded-2 p-2"></textarea> -->
                                    </div>


                                    <button 
                                        class="btnSecondary ms-auto" type="button" 
                                        [class.disabled]="assessment.invalid && numberStars()==0"
                                        [disabled]="assessment.invalid && numberStars() == 0"
                                        (click)="submit()" >
                                    Cadastrar</button>
                                </form>                   
                            </div>
                        }
                    }




                </section>
            </div> <!--  close col of form-->

            <div class="col">
                <div class="d-flex mt-4 gap-1">
                    <span class="bars background-primary flex-grow-1"></span>
                    <span 
                        class="bars flex-grow-1" 
                        [ngClass]="{ 'background-primary': stepBar() > 1, 'bg-dark-subtle': stepBar() === 1}"></span>
                    <span 
                        class="bars flex-grow-1" 
                        [ngClass]="{ 'background-primary': stepBar() > 2, 'bg-dark-subtle': stepBar() <= 2}"></span>
                    <span 
                        class="bars flex-grow-1"
                        [ngClass]="{ 'background-primary': stepBar() > 3, 'bg-dark-subtle': stepBar() <= 3}"></span>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
  