<app-header />
    <div class="container mt-5">
        <div class="row " style="margin-top: 15vh;">
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">Lugares Visitados: 15</li>
                    <li class="list-group-item">Meus comentários: 60</li>
                    <li class="list-group-item">
                        <ul class="vstack gap-1 m-0 p-0" style="list-style-type: none;">
                            <li>
                                <i class="bi bi-telephone color-primary me-2"></i>
                                15 99977777
                            </li>
                            <li>
                                <i class="bi bi-envelope color-primary me-2"></i>
                                gabriel&#64;gmail.com
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item text-muted">Data de cadastro: 18/02/2024</li>
                </ul>
            </div>

            <div class="col-6 position-relative">
                <main class="d-flex flex-column w-100 shadow rounded-3">
                    <div class="position-relative vstack gap-3 text-white background-primary px-4 py-3 rounded-top">
                        <div class="box-img position-relative bg-primary overflow-hidden rounded-circle position-absolute end-0 me-5" style="transform: translateY(-65%);">
                            <img 
                                class="img-fluid overflow-hidden object-fit-cover"
                                src="/assets/img/woman.jpg" 
                                alt=""
                            >
                        </div>
                        <h3>Gabriela Antunes Mendes</h3>
                        <ul class="d-flex p-0 m-0 gap-3" style="list-style-type: none;">
                            <li>
                                <i class="bi bi-send-fill"></i> &nbsp;15
                            </li>
                            <li>
                                <i class="bi bi-people-fill"></i> &nbsp;4
                            </li>
                        </ul>
                    </div>
                    <div class="p-4" style="min-height: 40vh;">
                        <p>Sem postagens até agora...</p>
                    </div>    
                </main>
            </div>

            <div class="col d-flex flex-column gap-3">
                <button class="btnSecondary shadow" 
                        type="button" 
                        data-bs-toggle="modal" 
                        data-bs-target="#exampleModal">
                    Novo Post
                </button>
                <button class="">Finalizar cadastro</button>
            </div>
        </div>
    </div>


  <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
    <div class="modal-dialog d-flex justify-content-center">
      <div class="modal-content shadow p-5 mt-5 rounded-3" style="width: 45vw">
        <div class="modal-header">
          <h1 class="modal-title fs-4 fw-bolder" id="exampleModalLabel">Novo Post   {{ step() }} </h1>
          <span></span>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-4" style="width: 38vw;">


          

          <div class="col position-relative">
          
            

            <form class="d-flex position-relative gap-2">


                @switch (step()) {
                    @case('step-1'){
                        <div class="w-100 box-step" [@state]>
                            <div class="d-flex justify-content-between">
                                <p class="mb-3">Nos conte aonde você foi!</p>
                                <p>1/4</p>
                            </div>
                            <div class="d-flex gap-2">
                                <input type="text" class="form-control" placeholder="Nome...">
                                <button class="btnSecondary" type="button" (click)="this.step.set('step-2')">Avançar</button>
                            </div>                   
                        </div>
                    }

                    @case('step-2'){
                        <div class="w-100 box-step" [@state]>
                            <div class="d-flex justify-content-between">
                                <p class="mb-3">Passo 2</p>
                                <p>1/4</p>
                            </div>
                            <div class="d-flex gap-2">
                                <input type="text" class="form-control" placeholder="Nome...">
                                <button class="btnSecondary" type="button" (click)="this.step.set('step-3')">Avançar</button>
                            </div>                   
                        </div>
                    }

                    @case('step-3'){
                        <div class="w-100 box-step" [@state]>
                            <div class="d-flex justify-content-between">
                                <p class="mb-3">Passo 3</p>
                                <p>1/4</p>
                            </div>
                            <div class="d-flex gap-2">
                                <input type="text" class="form-control" placeholder="Nome...">
                                <button class="btnSecondary" type="button" (click)="this.step.set('step-final')">Avançar</button>
                            </div>                   
                        </div>
                    }
                }


 
            </form>

     
          </div> <!--  close col of form-->

          <div class="col">
            <div class="d-flex mt-4 gap-1">
                <span class="bars background-primary flex-grow-1"></span>
                <span 
                    class="bars flex-grow-1" 
                    [ngClass]="{ 'background-primary': 
                    step() === 'step-2', 'bg-dark-subtle': 
                    step() !== 'step-2'}"></span>
                <span 
                    class="bars flex-grow-1" 
                    [ngClass]="{ 'background-primary': 
                    step() === 'step-3', 'bg-dark-subtle': 
                    step() !== 'step-3'}"></span>
                <span 
                    class="bars flex-grow-1" 
                    [ngClass]="{ 'background-primary': 
                    step() === 'step-final', 'bg-dark-subtle': 
                    step() !== 'step-final'}"></span>
            </div>
        </div>




        </div>

      </div>
    </div>
  <!-- </div> -->
    
<app-footer />