<app-header />
    <div class="container mt-5">
        <div class="row " style="margin-top: 15vh;">
            <div class="col-3">
                <ul class="list-group">
                    <li class="list-group-item">Lugares Visitados:  {{ user()?.placesVisited }} </li>
                    <li class="list-group-item">Meus comentários: {{ user()?.comments }} </li>
                    <li class="list-group-item p-0">
                        <ul class="vstack m-0 p-0 ms-3" style="list-style-type: none;">


                            <li class="d-flex position-relative align-items-center">
                                <div class="py-1 px-2 box-icon">
                                    <span class="circle"></span>
                                    <img src="/assets/icons/select/email.svg" width="15px" height="100%">    
                                </div>
                                <p class="ms-2">{{ user()?.email }}</p>
                            </li>  

                            @for (item of user()?.social_media; track $index) {
                            
                                <li class="d-flex position-relative align-items-center" style="width: 90%;">
                                    <div class="py-1 px-2 box-icon">
                                        <span class="circle"></span>
                                        <img src="/assets/icons/select/{{ item[0] }}.svg" width="15px" height="100%">    
                                    </div>
                                    <p class="ms-2 text-truncate">{{ item[1] }} </p>


                                    @if (finalizeRegister()) {
                                        <button 
                                            (click)="removeIcon($index)" 
                                            style="width: min-content; height: min-content;" 
                                            class="bg-transparent text-danger btnRemove"
                                        >
                                            <i class="bi bi-trash-fill"></i>
                                        </button>
                                    }
                                </li>
                            }

               
                        
                        </ul>
                    </li>
                    
                    @if(finalizeRegister()){
                        <form [formGroup]="icons" (ngSubmit)="submit()" class="container-fluid p-0 gap-1 d-flex flex-wrap my-2" [@register]>
                            <div class="col-4">
                                <select class="form-select" aria-label="Default select example" formControlName="name">
                                    <option selected>Rede</option>

                                    @for (item of icons$ | async; track item) {
                                        <option value="{{ item.name | lowercase }}" > {{ item.name }}</option>
                                    }

                                  </select>                  
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Complete aqui..." formControlName="valueMedia">
                            </div>
                            <div class="col-12">
                                <button type="submit" class="w-100 btnSecondary">Adicionar</button>
                            </div>                            
                        </form>
                    }


                    <li class="list-group-item text-muted">Data de cadastro: {{ user()?.created_at | localDate }} </li>
                </ul>
            </div>

            <div class="col-6 position-relative">
                <main class="d-flex flex-column w-100 shadow rounded-3">
                    <div class="position-relative vstack gap-3 text-white background-primary px-4 py-3 rounded-top">
                        <div class="box-img position-relative bg-primary overflow-hidden rounded-circle position-absolute end-0 me-5" style="transform: translateY(-65%);">

                            <img 
                                class="img-fluid overflow-hidden object-fit-cover"
                                src="{{ url() }}/1" 
                                alt=""
                            >   
                   
                        </div>

                        @if(finalizeRegister()){
                            <form action="" class="position-absolute end-0 me-5 mt-2 form-upload" enctype="multipart/form-data">
                                <input type="file" name="image" id="image" class="d-none" (change)="onfileSelected($event)">

                                <div class="d-flex ">
                                    <label 
                                        for="image" 
                                        title="Escolha uma imagem"
                                        class="position-relative z-5"    
                                    >    
                                    
                                
                                    <i class="fa-solid fa-pen text-dark rounded-circle bg-light rounded-circle icon position-absolute"></i>        

                                    <!-- @if(isFileFill()){ -->
                                      
                                    <!-- } -->

                                        <!-- top-100 mt-1 px-2 -->

                                        
                                            <!-- <i class="fa-solid fa-xmark text-dark rounded-circle bg-light rounded-circle icon position-absolute"></i>
                                        
                                            <i class="fa-solid fa-pen text-dark rounded-circle bg-light rounded-circle icon position-absolute"></i>        
                                         -->

                                    </label>
                                    
                                    <i 
                                        class="fa-solid fa-paper-plane bg-primary text-light rounded-circle rounded-circle icon"
                                        [class.send]="finalizeRegister()"
                                        id="plan"
                                        title="enviar"
                                        (click)="send()"
                                    ></i>

                                </div>

                                    @if (finalizeRegister()) {
                                        <i class="fa-solid fa-xmark text-light rounded-circle bg-danger rounded-circle icon px-2 cancel"  id="cancel" title="Cancelar"
                                        ></i>
                                    }

                                
                            </form>

                        }
                        
                        <h3>{{ user()?.name }}</h3>
                        <ul class="d-flex p-0 m-0 gap-3 icons__title" style="list-style-type: none;">
                            <li class="position-relative">
                                <!-- lugares novos -->
                                <i class="fa-solid fa-award"></i> &nbsp;15
                                <span class="position-absolute top-100 translate-middle-x ms-3 text-bg-dark p-2 d-flex text-nowrap rounded-3">Lugares novos</span>
                            </li>
                            <li class="position-relative">
                                <!-- Seguidores -->
                                <i class="bi bi-people-fill"></i> &nbsp;4
                                <span class="position-absolute top-100 translate-middle-x ms-3 text-bg-dark p-2 d-flex text-nowrap rounded-3">Seguidores</span>
                            </li>
                            <li class="position-relative">
                                <!-- Seguindo -->
                                <i class="fa-solid fa-person-walking"></i> 15
                                <span class="position-absolute top-100 translate-middle-x ms-3 text-bg-dark p-2 d-flex text-nowrap rounded-3">Seguindo</span>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="p-4" style="min-height: 40vh;">
                        <p>Sem postagens até agora...</p>

                        <!-- {{ user() | json }} -->
                    </div>    
                </main>
            </div>

            <div class="col d-flex flex-column gap-3">
                <button class="btnSecondary shadow" 
                        type="button" 
                        data-bs-toggle="modal" 
                        data-bs-target="#exampleModal">
                    Novo Post
                </button>
                <button class="" (click)="finalize()">
                    {{ finalizeRegister() == true ?  'Cancelar' : 'Finalizar Cadastro'}} 
                </button>
            </div>
        </div>
    </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
      <div class="modal-content shadow p-5 mt-5 rounded-3" style="width: 45vw">
        <div class="modal-header">
          <h1 class="modal-title fs-4 fw-bolder" id="exampleModalLabel">Novo Post </h1>
          <span></span>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-5" style="width: 38vw;">


          

          <div class="col position-relative">
            <form class="d-flex position-relative gap-2">


                @switch (stepForm()) {
                    @case('step-1'){
                        <div class="w-100 box-step" [@state]>
                            <div class="d-flex justify-content-between">
                                <p class="mb-3">Nos conte aonde você foi!</p>
                                <p>{{ stepBar() }}/4</p>
                            </div>
                            <div class="d-flex gap-2">
                                <input type="text" class="form-control" placeholder="Nome...">
                                <button class="btnSecondary" type="button" (click)="nextStep('step-2')">Avançar</button>
                            </div>                   
                        </div>
                    }

                    @case('step-2'){
                        <div class="w-100 box-step" [@state]>
                            <div class="d-flex justify-content-between">
                                <p class="mb-3">Esse local já é cadastrado?</p>
                                <p>{{ stepBar() }}/4</p>
                            </div>
                            <div class="d-flex gap-2 align-items-end">
                               <div class="d-flex flex-column flex-grow-1 gap-2 ms-3">
                                    
                                <div class="d-flex gap-1">
                                    <input type="radio" name="alreadyRegistered" id="sim">
                                    <label for="sim">Sim</label>
                                </div>

                                <div class="d-flex gap-1">
                                    <input type="radio" name="alreadyRegistered" id="nao">
                                    <label for="nao">Não</label>
                                </div>
                            </div>
                                
                                <button class="btnSecondary" type="button" (click)="nextStep('step-3')">Avançar</button>
                            </div>                   
                        </div>
                    }

                    @case('step-3'){
                        <div class="w-100 box-step" [@state]>
                            <div class="d-flex justify-content-between">
                                <p class="mb-3">Passo 3</p>
                                <p>{{ stepBar() }}/4</p>
                            </div>
                            <div class="d-flex gap-2">
                                <input type="text" class="form-control" placeholder="Nome...">
                                <button class="btnSecondary" type="button" (click)="nextStep('step-final')">Avançar</button>
                            </div>                   
                        </div>
                    }
                    @case('step-final'){
                        <div class="w-100 box-step" [@state]>
                            <div class="d-flex justify-content-between">
                                <p class="mb-3">Passo 4</p>
                                <p>{{ stepBar() }}/4</p>
                            </div>
                            <div class="d-flex gap-2">
                                <input type="text" class="form-control" placeholder="Nome...">
                                <button class="btnSecondary" type="button" (click)="nextStep('step-final')">Avançar</button>
                            </div>                   
                        </div>
                    }
                }



 
            </form>
          </div> <!--  close col of form-->

          <div class="col">
            <div class="d-flex mt-4 gap-1">
                <span class="bars background-primary flex-grow-1"></span>
                <span 
                    class="bars flex-grow-1" 
                    [ngClass]="{ 'background-primary': stepBar() > 1, 'bg-dark-subtle': stepBar() === 1}"></span>
                <span 
                    class="bars flex-grow-1" 
                    [ngClass]="{ 'background-primary': stepBar() > 2, 'bg-dark-subtle': stepBar() <= 2}"></span>
                <span 
                    class="bars flex-grow-1"
                    [ngClass]="{ 'background-primary': stepBar() > 3, 'bg-dark-subtle': stepBar() <= 3}"></span>
            </div>
          </div>




        </div>

      </div>
    </div>
  </div>
    
<app-footer />