:host{
    .box-img{
        height: 100px;
        width: 100px;

        img{
            min-width: 100% !important;
        }
    }



    .icons__title{
        li{
          span{
            opacity: 0;
            pointer-events: none;
            transition: .4s;
            font-size: calc(1vmin + 5px);
          }  

          &:hover > span{
            opacity: 1;
          }
        }
    }

    .box-icon{
        .circle{
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            background-color: var(--primary);       
            position: absolute;
            top: 25%;
            left: 2%;
            border-radius: 50%;
            opacity: 0.7;
        }

        img{
            position: relative;
            z-index: 999 !important;
        }
    }


    .btnRemove{
        position: absolute;
        right: -8%;
    }

    .form-upload{
        .icon{
            padding: 6px 6px;
            font-size: .7rem;
            cursor: pointer;
        }

        .send{
            animation: move .5s ease;
            transform: translateX(28px);
            opacity: 1;
        }

        #cancel{
            position: absolute;
            top: 120%;
            opacity: 1;
            animation: down .5s ease;
        }

        @keyframes move {
            from{
                transform: translateX(0px);
            }
            to{
                transform: translateX(28px);
            }
        }

        @keyframes down {
            from{
                top: 0;
            }
            to{
                top: 120%;
            }
        }

    }


}