<app-header />
    <div class="container mt-5">
        <div class="row " style="margin-top: 15vh;">
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">Lugares Visitados: 15</li>
                    <li class="list-group-item">Meus comentários: 60</li>
                    <li class="list-group-item">
                        <ul class="vstack gap-1 m-0 p-0" style="list-style-type: none;">
                            <li>
                                <i class="bi bi-telephone color-primary me-2"></i>
                                15 99977777
                            </li>
                            <li>
                                <i class="bi bi-envelope color-primary me-2"></i>
                                gabriel&#64;gmail.com
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item text-muted">Data de cadastro: 18/02/2024</li>
                </ul>
            </div>

            <div class="col-6 position-relative">
                <main class="d-flex flex-column w-100 shadow rounded-3">
                    <div class="position-relative vstack gap-3 text-white background-primary px-4 py-3 rounded-top">
                        <div class="box-img position-relative bg-primary overflow-hidden rounded-circle position-absolute end-0 me-5" style="transform: translateY(-65%);">
                            <img 
                                class="img-fluid overflow-hidden object-fit-cover"
                                src="/assets/img/woman.jpg" 
                                alt=""
                            >
                        </div>
                        <h3>Gabriela Antunes Mendes</h3>
                        <ul class="d-flex p-0 m-0 gap-3" style="list-style-type: none;">
                            <li>
                                <i class="bi bi-send-fill"></i> &nbsp;15
                            </li>
                            <li>
                                <i class="bi bi-people-fill"></i> &nbsp;4
                            </li>
                        </ul>
                    </div>
                    <div class="p-4" style="min-height: 40vh;">
                        <p>Sem postagens até agora...</p>
                    </div>    
                </main>
            </div>

            <div class="col d-flex flex-column gap-3">
                <button class="btnSecondary shadow">Novo Post</button>
                <button class="">Finalizar cadastro</button>
            </div>
        </div>
    </div>
<app-footer />