<div class="row mx-5 d-flex gap-5 all-content" [@visibility]="'visible'">
    <div class="col-4 shadow px-4 py-4 rounded-3 d-flex flex-column gap-3 boxCards">

        <app-box-list />
        
    </div> <!-- Close First Column -->

    <div class="col d-flex flex-column p-0">
        
        <app-description />

        <!-- ---------------- COMMENTS -->
        <div class="col mt-5 position-relative box-comments">

           
        </div> 
        <!-- ---------------- END COMMENTS -->


    </div> <!-- Close Last Column -->
    
</div>