<div class="row mx-5 d-flex gap-5 all-content" [@visibility]="'visible'">
    <div class="col-4 shadow px-4 py-4 rounded-3 d-flex flex-column gap-3 boxCards">
        @for(place of places; track $index){
            <app-box-list 
                [title]="place.place"
                [countStars]="place.assessment"
                [comments]="place.comments"
                [author]="place.username"
                [imageName]="place.image"
            /> <!-- LIST OF SEARCH -->
        } @empty{
            <p class="ms-5 text-white fs-5">Nenhum local encontrado...😢</p>
        }

    </div>     <!-- Close First Column -->

    @if(places){
        <div class="col d-flex flex-column p-0">
            <app-description />     <!-- DESCRIPTION MAIN -->
    
            <div class="col mt-5">
               <app-box-comment />  <!-- COMMENTS -->
            </div>
        </div> 
    }
</div>