:host{

    .all-content{
        opacity: 0;
        pointer-events: none;
    }

    .boxCards{
        background-color: #f26101dd;
    }

 


    .box-comments{
        .commentProfile{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }
}